################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/zaaw_systemy_web/config
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
